// Custom text colors for specific buttons::after
.btn-secondary {
  color: #3866e9;
}

.btn-outline-secondary,
.btn-outline-secondary:hover {
  color: #ffffff;
  border: 1px solid #e0e8ff;
}
.btn-outline-secondary:hover {
  background-color: #e0e8ff2a;
}

.btn-success {
  color: #576786;
}

.icon-button {
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-button-light:hover {
  background-color: var(--vh-color-hover-light);
}
.icon-button-dark:hover {
  background-color: var(--vh-color-hover-dark);
}
