// VizHub Fonts:
//  * Inter: https://fonts.google.com/specimen/Inter
//    * Inter is the default font for VizHub.
//    * It is used for body text, buttons, and various UI elements.
//    * 400;500;700 weights are used for various things
//    * 400 is used for body text
//    * 500 is used for smaller muted text and links
//    * 700 is used for large buttons
//    * TODO verify we need all 3 weights
//  * Poppins: https://fonts.google.com/specimen/Poppins
//    * Poppins is used for headings.
//    * 400;600;700 weights are used for various things
//    * 400 is used for lede
//    * 600 is used for h2, h3, and h4
//    * 700 is used for h1
//    * TODO verify we need all 3 weights
//  * Roboto Mono: https://fonts.google.com/specimen/Roboto+Mono
//    * Roboto Mono is used for code.
//    * 400 weight is used for code.
//    * 500 weight is used in the sidebar and in tabs.
//    * 500 weight italic is used for transient tabs.
// https://fonts.google.com/share?selection.family=Inter:wght@400;500;700|Poppins:wght@400;600;700|Roboto+Mono:ital,wght@0,400;0,500;1,500
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;600;700&family=Roboto+Mono:ital,wght@0,400;0,500;1,500&display=swap');
$font-family-sans-serif: Inter, sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$code-font-size: 16px;

$headings-font-family: Poppins, sans-serif;
$h1-font-size: 48px;
$h2-font-size: 34px;
$h3-font-size: 30px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;
$headings-font-weight: 600;

h1 {
  font-weight: 700;
}

.form-label {
  font-weight: 500;
}

$body-color: #161514;
$primary: #3866e9;
$secondary: #e0e8ff;
$success: #d7f6dc;

$border-radius: 4px;
$input-bg: transparent;

$modal-content-border-width: 0;
$modal-inner-padding: 20px;

$btn-font-weight: 500;

// For white "invisible" buttons.
$light: white;

// For light buttons
$btn-hover-bg-shade-amount: 10% !default;
$btn-hover-border-shade-amount: 10% !default;
$btn-active-bg-shade-amount: 20% !default;
$btn-active-border-shade-amount: 20% !default;

// The outline that appears on focus.
//$input-btn-focus-width: 1px;

// Custom close icon.
// $btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='12 12 24 24'><path d='M32.97 12.63 24 21.6l-8.97-8.97a1.7 1.7 0 0 0-2.4 2.4L21.6 24l-8.97 8.97a1.7 1.7 0 0 0 2.4 2.4L24 26.4l8.97 8.97a1.7 1.7 0 0 0 2.4-2.4L26.4 24l8.97-8.97a1.7 1.7 0 0 0-2.4-2.4z'/></svg>");
$btn-close-opacity: 1;

// Pills with underlines instead of buttons.
$nav-pills-link-active-color: $body-color;
$nav-pills-link-active-bg: transparent;

// Custon navbar colors.
$navbar-dark-color: rgba(white, 0.7);
$navbar-dark-hover-color: white;

// Custom background color for dropdowns on hover.
$dropdown-link-hover-bg: #3866e933;

$dark: black;

$dropdown-link-color: #161514;
$navbar-nav-link-padding-x: 0.75rem;
$navbar-padding-y: 0.25rem;

/* 
 * Prevents a flash of a vertical scrollbar
 * when a tooltip is triggered.
 */
.tooltip {
  position: fixed;
}
