.vh-lede-01 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.vh-base-01,
.vh-base-02 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.vh-base-02 {
  font-weight: 700;
}
.vh-block-01 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
