// Custom box shadow.

// We use CSS variables here to decouple the UI library from app CSS.
// This lets us have one monilithic build for VizHub Bootstrap
// that exposes these variables for use in the smaller VizHub App CSS.
:root {
  --vh-box-shadow: rgb(0 0 0 / 15%) 0px 1px 4px 0px;
  --vh-rule-color: #0000001c;
  --vh-background-color: #f6eee3;
  --vh-foreground-color-light: #797979;

  --vh-padding-miniscule: 7px;
  --vh-padding-little: 10px;
  --vh-padding-lots: 20px;

  --vh-border-radius: 4px;

  --vh-code-background: #202e46;
  --vh-code-foreground: #e2e2e2;

  --vh-editor-color: white;
  --vh-editor-bg-dark: #3d4b65;
  --vh-editor-bg-darkest: #202e46;
  --vh-editor-bg-light: #5b677d;
  --vh-editor-entry-height: 30px;

  // Expose Bootstrap internal variables for downstream use.
  --vh-font-family-monospace: #{$font-family-monospace};
  --vh-h3-font-size: #{$h3-font-size};
  --vh-small-font-size: #{$small-font-size};

  // Colors from the Figma color pallette.
  // See https://www.figma.com/file/GEvjzvc4WMO70PtLg5qDHI/New-Work?type=design&node-id=177-7725&mode=design&t=bWYHUJGJDjHcTQHb-0
  --vh-color-action-01: #3866e9;
  --vh-color-action-02: #022a9f;
  --vh-color-action-03: #e0e8ff;
  // Old - too bright --vh-color-warning-01: #ff006b
  // New - too dark --vh-color-warning-01: #d42a68;
  // Mid-way point - just right
  --vh-color-warning-01: #eb1c69;

  --vh-color-warning-02: #ffeff2;
  --vh-color-caution-01: #ffa800;
  --vh-color-caution-02: #fff4df;
  --vh-color-success-01: #36bb4a;
  --vh-color-success-02: #d7f6dc;
  --vh-color-neutral-01: #1f2022;
  --vh-color-neutral-02: #202e46;
  --vh-color-neutral-03: #576786;
  --vh-color-neutral-04: #bdc7dc;
  --vh-color-rule-01: #e6eaf2;
  --vh-color-background-01: #f6eee3;
  --vh-color-background-02: #efe7dc;
  --vh-color-background-03: #faf5ef;
}

.vh-color-action-01 {
  color: var(--vh-color-action-01);
}

.vh-color-action-02 {
  color: var(--vh-color-action-02);
}

.vh-color-action-03 {
  color: var(--vh-color-action-03);
}

.vh-color-warning-01 {
  color: var(--vh-color-warning-01);
}

.vh-color-warning-02 {
  color: var(--vh-color-warning-02);
}

.vh-color-caution-01 {
  color: var(--vh-color-caution-01);
}

.vh-color-caution-02 {
  color: var(--vh-color-caution-02);
}

.vh-color-success-01 {
  color: var(--vh-color-success-01);
}

.vh-color-success-02 {
  color: var(--vh-color-success-02);
}

.vh-color-neutral-01 {
  color: var(--vh-color-neutral-01);
}

.vh-color-neutral-02 {
  color: var(--vh-color-neutral-02);
}

.vh-color-neutral-03 {
  color: var(--vh-color-neutral-03);
}

.vh-color-neutral-04 {
  color: var(--vh-color-neutral-04);
}

.vh-color-rule-01 {
  color: var(--vh-color-rule-01);
}

.vh-color-background-01 {
  color: var(--vh-color-background-01);
}

.vh-color-background-02 {
  color: var(--vh-color-background-02);
}

.vh-color-background-03 {
  color: var(--vh-color-background-03);
}
