// Custom box shadow.

// We use CSS variables here to decouple the UI library from app CSS.
// This lets us have one monilithic build for VizHub Bootstrap
// that exposes these variables for use in the smaller VizHub App CSS.
:root {
  --vh-box-shadow: rgb(0 0 0 / 15%) 0px 1px 4px 0px;
  --vh-rule-color: #0000001c;
  --vh-background-color: #f6eee3;
  --vh-foreground-color-light: #757575;

  --vh-padding-miniscule: 7px;
  --vh-padding-little: 10px;
  --vh-padding-lots: 20px;

  --vh-border-radius: 3px;

  --vh-code-background: #202e46;
  --vh-code-foreground: #e2e2e2;

  --vh-editor-color: white;
  --vh-editor-bg-dark: #3d4b65;
  --vh-editor-bg-darkest: #202e46;
  --vh-editor-bg-light: #5b677d;
  --vh-editor-entry-height: 30px;

  // Expose Bootstrap internal variables for downstream use.
  --vh-font-family-monospace: #{$font-family-monospace};
  --vh-h3-font-size: #{$h3-font-size};
  --vh-small-font-size: #{$small-font-size};
}
